
#main-menu {

  margin: 30px 0;
  color:#FFF;
  text-align:center;
  background-color: #10BAE0;
}

#main-menu li
 {
  display: inline-block;
  font-size: 20px;
}

#main-menu li a
 {
  display: block;
  padding: 10px 20px;
  color: #000;
  border: solid 5px #000;
  text-decoration: none;
  background: none;
}